numpy==2.1.2
opentims_bruker_bridge==1.1.0
opentimspy==1.0.16
pandas==2.2.3
pybind11==2.13.6
python-dateutil==2.9.0.post0
pytz==2024.2
setuptools==75.1.0
six==1.16.0
tzdata==2024.2
wheel==0.44.0
